<!--footer.html-->
<footer class="footerContainer">
    <div class="footerLinksContainer">
        <div class="footerColumn">
            <div class="footerColumnTitle">
                <h3> Scholarship </h3>
            </div>
            <div class ="footerLink">
                <a href="https://www.srsfw.org/eligibility-requirements">Scholarship Eligibility</a>
            </div>
            <div class ="footerLink">					
                <a href='https://www.srsfw.org/faq'>FAQ</a>							
            </div>
            <div class ="footerLink">
                <a href="https://www.srsfw.org/fellowships">Fellowships</a>
            </div>
            <div class ="footerLink">
                <a href='https://www.facebook.com/TheScottishRiteFoundationOfWashington' target="_blank">Visit Our Facebook</a>
            </div>
        </div>
        <div class="footerColumn">
            <div class="footerColumnTitle">
                <h3> The Scottish Rite </h3>
            </div>
            <div class ="footerLink">
                <a href="https://scottishrite.org/about/our-creed-mission-statement/" target="_blank">Our Creed and Mission</a>
            </div>
            <div class ="footerLink">					
                <a href='https://scottishrite.org/blog/2022/05/02/statement-of-principles/' target="_blank">Statement of Principles</a>							
            </div>
            <div class ="footerLink">
                <a href="https://scottishrite.org/about/questions/" target="_blank" >About the Scottish Rite</a>
            </div>
            <div class ="footerLink">
                <a href='https://www.srsfw.org/distinguished-benefactors'>Distinguished Benefactors</a>
            </div>
        </div>
        <div class="footerColumn">
            <div class="footerColumnTitle">
                <h3> Americanism </h3>
            </div>
            <div class ="footerLink">
                <a href="https://www.youtube.com/watch?v=e4pWbSRA3IQ" target="_blank">Scottish Rite Tribute to the Flag</a>
            </div>
            <div class ="footerLink">					
                <a href='https://www.facebook.com/houseofthetemple/' target="_blank">House of the Temple On Facebook</a>							
            </div>
            <div class ="footerLink"> 
                <a href="https://www.instituteforcivility.org/" target="_blank" >Institute for Civility in Government</a>
            </div>
            <div class ="footerLink">
                <a href='https://connecticutqkrwa.weebly.com/the-5-american-ideals.html' target="_blank">American Ideals, by 8th grade journalists</a>
            </div>
        </div>
        <div class="footerColumn">
            <div  class="footerColumnTitle">
                <h3> Friends & Family </h3>
            </div>
            <div class ="footerLink">
                <a href="https://beademolay.org/brand/" target="_blank">DeMolay International</a>
            </div>
            <div class ="footerLink">					
                <a href='https://www.gorainbow.org/' target="_blank">Rainbow For Girls</a>							
            </div>
            <div class ="footerLink">
                <a href="https://jobsdaughtersinternational.org/" target="_blank">Job's Daughters</a>
            </div>
            <div class ="footerLink">
                <a href='https://www.shrinersinternational.org/en' target="_blank">Shriners International</a>
            </div>
        </div>
    </div>
    <div class="footerTextContainer">
        <a class="footerRCWLink" href="https://apps.leg.wa.gov/rcw/default.aspx?cite=28A.405.030" target="_blank">Washington State Legislature: RCW 28A.405.030 Must teach morality and patriotism.</a>
        <p>The Scottish Rite Scholarship Foundation of Washington is an apolitical § 501(c)(3) non-profit organization recognized by the IRS.</p>
    </div>
    <div class="footerRedBar"></div>
</footer>
