<!--navbar.html-->

<nav class="navContent">
    <div class="navContentContainer">
        <div class="titleLogoContainer">
            <div class="navTitleContainer">
                <h1 class="navH1">The Scottish Rite</h1>
                <h2 class="navH2">Scholarship Foundation of Washington</h2>
            </div>
            <div class="eagleLogoContainer">
                    <img class="eagleLogo" alt="" src="./images/doubleheadedeagle33.png"/>	
            </div>
        </div>
        <!--<div id="DrpDwnMn0" class="ribbon-menu main-menu-outer">-->
        <div id="DrpDwnMn0" class="ribbonContainer">
            <div class="navbarRibbon">
                <div class="navLinksContainer">
                    <div id="home-button"class="ribbon-button ribbon-container" >
                        <a class="ribbon-button-label" href="http://www.srsfw.org">Home</a>
                    </div>
                    <div id="register-button" class="ribbon-button ribbon-container">
                        <a class="ribbon-button-label" href="Register.aspx">Register</a>
                    </div>
                    <div id="login-button" class="ribbon-button ribbon-container">
                        <a class="ribbon-button-label" href="Login.aspx">Login</a></div>
                    <div id="donate-button"class="ribbon-button ribbon-container">
                        <a class="ribbon-button-label" href="https://srsfwalegacy.org/" target="_blank">Donate</a>
                    </div>
                </div>
                <div class="navCompassTextContainer">
                    <div class="navImageContainer">
                        <img  alt="freeMasonCompass" src="./images/square-compass-456x536G.png" class="navCompassImage"/>	
                    </div>
                    <p class="navbarRightText">A Masonic Philanthropy</p>
                </div>
            </div>				
            <div class="ribbonEdgesContainer">
                <img  alt="leftRibbonCorner" src="./images/flagLeft.png" class="navCompassImage"/>
                <img  alt="leftRibbonCorner" src="./images/flagRight.png" class="navCompassImage"/>		
            </div>
        </div>
    </div>
</nav>